## global
namespace: tks
gitBaseUrl: https://github.com
gitAccount: decapod10
revision: main

db:
  adminUser: postgres
  adminPassword: secretPassword
  dbName: tks
  dbHost: postgresql.decapod-db.svc
  dbPort: 5432
  dbUser: tksuser
  dbPassword: secretPassword

## services
tksapi:
  nameOverride: "tks-api"
  fullnameOverride: "tks-api"
  replicaCount: 1
  image:
    repository: docker.io/sktcloud/tks-api
    pullPolicy: Always
    tag: 0063468fce1ee54cee41d4aae225b3eaa5476ace
  imagePullSecrets: []

  service:
    type: NodePort
    port: 9110

  serviceAccount:
    create: true
    annotations: {}
    name: "tks-api"

  tksAccount:
    accountId: admin
    organizationId: master
    password: admin

  args:
    port: 9110
    argoAddress: http://argo-workflows-operator-server.argo.svc
    argoPort: 2746

    externalGiteaUrl: http://localhost:30303

    imageRegistryUrl: harbor-dev.taco-cat.xyz/appserving
    harborPwSecret: harbor-core
    gitRepositoryUrl: github.com/openinfradev

    keycloakAddress: https://keycloak.taco-cat.xyz/auth
    keycloakAdmin: admin
    keycloakPassword: admin
    keycloakClientSecret: secret

    mailProvider: aws
    smtpHost: localhost
    smtpPort: 0
    smtpUsername: admin
    smtpPassword: admin
    smtpFromEmail: admin

    awsRegion: ap-northeast-2
    awsAccesssKeyId: AWS_SECRET_KEY
    awsSecretAccessKey: AWS_SECRET_ACCESS_KEY

  ingress:
    enabled: false

  autoscaling:
    enabled: false

tksbatch:
  nameOverride: "tks-batch"
  fullnameOverride: "tks-batch"
  replicaCount: 1
  image:
    repository: docker.io/sktcloud/tks-batch
    pullPolicy: Always
    tag: 17e60c2e177944ba93b10c7f9a67f8d10f7c3abb
  imagePullSecrets: []

  service:
    type: ClusterIP
    port: 9110

  serviceAccount:
    create: true
    annotations: {}
    name: "tks-batch"

  args:
    port: 9110
    argoAddress: http://argo-workflows-operator-server.argo.svc
    argoPort: 2746
    tksApiAddress: http://tks-api.tks.svc
    tksApiPort: 9110
    tksApiAccount: admin
    tksApiPassword: admin

  ingress:
    enabled: false

  autoscaling:
    enabled: false

tksconsole:
  nameOverride: "tks-console"
  fullnameOverride: "tks-console"
  replicaCount: 1
  image:
    repository: docker.io/sktcloud/tks-console
    pullPolicy: Always
    tag: 17e60c2e177944ba93b10c7f9a67f8d10f7c3abb
  imagePullSecrets: []

  service:
    type: ClusterIP
    port: 8080

  serviceAccount:
    create: true
    annotations: {}
    name: "tks-console"

  args:
    port: 80

  ingress:
    enabled: false

  autoscaling:
    enabled: false
