{{- if not .Values.machinePool.enabled }}
apiVersion: cluster.x-k8s.io/v1alpha3
kind: MachineDeployment
metadata:
  name: {{ .Values.cluster.name }}-md-0
  namespace: {{ .Release.Namespace }}
spec:
  clusterName: {{ .Values.cluster.name }}
  replicas: {{ .Values.machineDeployment.replicas }}
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: {{ .Values.apiVersion.bootstrap }}
          kind: KubeadmConfigTemplate
          name: {{ .Values.cluster.name }}-md-0
      clusterName: {{ .Values.cluster.name }}
      infrastructureRef:
        apiVersion: {{ .Values.apiVersion.infrastructure }}
        kind: AWSMachineTemplate
        name: {{ .Values.cluster.name }}-md-0
      version: {{ .Values.cluster.kubernetesVersion }}
{{- end }}