namespace: istio-system
istioNamespace: istio-system
deployment:
  ingress:
    enabled: false
  namespace: istio-system
  image_name: quay.io/kiali/kiali
  image_version: v1.45.1
  replicas: 1
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi
  replicas: 1
  nodeSelector:
    servicemesh: enabled
  serviceType: ClusterIP
  additionalServiceYaml:
    nodePort: 30010
auth:
  strategy: anonymous
externalServices:
  customDashboards:
    enabled: true
  istio:
    configMapName: "istio"
    istioIdentityDomain: "svc.cluster.local"
    componentStatus:
      enabled: true
      components:
        istiodLabel: istiod
        ingressGatewayLabel: istio-ingress-gateway
        egressGatewayLabel: istio-egress-gateway
  prometheus:
    url: http://lma-prometheus.lma.svc:9090
  tracing:
    enabled: true
    namespaceSelector: true
    inClusterUrl: http://jaeger-operator-jaeger-query.istio-system:16686
    url: https://jaeger-v2.taco-cat.xyz
    useGrpc: false
  grafana:
    auth:
      password: password
      type: basic
      useKialiToken: false
      username: admin
    enabled: true
    inClusterUrl: http://grafana.lma.svc:3000
    url: https://grafana-v2.taco-cat.xyz
server:
  metricsEnabled: true
  metricsPort: 9090
  port: 20001
  webRoot: /kiali
