createNamespace: false

prometheus:
  crdApiGroup: "monitoring.coreos.com"

serviceMonitor:
  enabled: true

  ## Add Calico exporter as service
  calco:
    enabled: false

  ## PocessExporter ServiceMonitor
  pushgateway:
    port: http
    enabled: true
    ### interval for scrape
    #interval: "10s"
    jobLabel: "pushgateway"
    honorLabels: true
    metricRelabelings: []
    relabelings: []

  ## PocessExporter ServiceMonitor
  processExporter:
    enabled: true
    ### interval for scrape
    #interval: "10s"
    jobLabel: "process-exporter"
    metricRelabelings: []
    relabelings: []

  ## Ceph ServiceMonitor
  ceph:
    enabled: true
    interval: "30s"
    # Default port is 9283.
    # mon_port:

    mon_hosts:
    - ip: 192.168.97.118

  ## KubeStateMetrics ServiceMonitor
  kubeStateMetrics:
    enabled: true
    interval: "30s"

  ## NodeExporter ServiceMonitor
  nodeExporter:
    enabled: true
    interval: "30s"

  grafana:
    enabled: true
    ### interval for scrape
    #interval: "10s"
    jobLabel: "grafana"
    metricRelabelings: []
    relabelings: []

  argocd:
    enabled: false
    ### interval for scrape
    #interval: "10s"
    metricRelabelings: []
    relabelings: []

  argowf:
    enabled: false
    ### interval for scrape
    #interval: "10s"
    metricRelabelings: []
    relabelings: []

  openstack:
    enabled: false
    interval: "30s"
    metricRelabelings: []
    relabelings: []
    namespace: openstack

  trident:
    enabled: false
    # default interval is 30s
    #interval: "30s"
    #namespace: trident
    #matchLabels:
    #  app: xxx

  calico:
    enabled: false

  ## It makes multiple ServiceMonitor / Endpoint / Service for each item in below array.
  #additionalScrapeConfigs:
  #- name: f5-ingress
  #  path: /metrics
  #  address: 192.168.97.22
  #  port: 3000
  #  params:
  #    match[]:
  #    - ''

  #federations:
  #- name: main
  #  address: 192.168.97.22
  #  interval: 30s

  kubelet:
    enabled: false
    interval: "30s"
    metricRelablings: []
    relabelings: []
    # cAdvisorMetricRelablings: []
    # cAdvisorRelabelings: []
    # probesMetricRelablings: []
    # probesRelabelings: []

  istio:
    enabled: false
    interval: "30s"

  jaeger:
    enabled: false
    interval: "30s"

grafanaDatasource:
  enabled: true
  # namespace where grafana is installed
  namespace: fed
  sidecar:
    label: grafana_datasource
  prometheus:
    enabled: true
    url: "lma-prometheus-fed-master-prometheus:9090" 
  loki:
    enabled: true
    url: "loki.fed:3100" 

kibanaInit:
  enabled: false
  # image:
  #   repository: sktdev/kibana-init
  #   tag: v4
  # url: "http://192.168.97.54:30001"
  # username: elastic
  # password: tacoword

prometheusRules:
  aggregation:
    enabled: false
    rule:
      kubernetes: true
      kubeNodeResources: true
  alert:
    enabled: false
    rule:
      alertmanager: true
      basicLinux: true
      calico: true
      ceph: true
      elasticsearch: true
      kubeApiserver: true
      kubeControllerManager: true
      kubelet: true
      mariadb: true
      rabbitmq: true
  istio:
    aggregation:
      enabled: true
      interval: "5s"
    optimization:
      enabled: true
      interval: "5s"


grafanaDashboard:
  include: 
  - kubernetes
  - node
  namespace: fed
  sidecar:
    label: grafana_dashboard